.text {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.main {
  margin-bottom: 5rem;
}

.companiesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.company img {
  filter: brightness(50%);
  max-width: 10rem;
}

@media screen and (max-width: 950px) {
  .company img {
    max-width: 7rem;
  }
}
