.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 2rem;
}

.contactText {
  font-size: 3rem;
  font-weight: 500;
}
.flex {
  display: flex;
  gap: 1rem;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.inputContainer {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputContainer textarea {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.233);
  background-color: #fafafa;
}

.inputContainer button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.inputContainer input {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.233);
  background-color: #fafafa;
  min-width: 100%;
}

.inputContainer label {
  display: flex;
  margin-bottom: 1rem;
}

@media screen and (max-width: 950px) {
  .flex {
    flex-direction: column;
  }
  .inputContainer {
    margin-bottom: 1rem;
  }
  .inputContainer input {
    width: 100%;
  }
  .inputContainer button {
    width: 100%;
  }
}
