.main {
  min-height: 100vh;
}

.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainText h1 {
  font-size: 6rem;
  text-align: left;
  line-height: 7rem;
  margin: 0;
}

.mainText p {
  max-width: 70%;
  font-size: 1.3rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 15rem;
}

.mainContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}

.mainImg {
  width: 90%;
}

.imgContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.imgContainer::before {
  position: absolute;
  content: "";
  height: 80%;
  width: 80%;
  clip-path: polygon(63% 0, 100% 0, 100% 100%, 0% 100%);
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: -5;
  border-radius: 2rem;
}

.cta {
  background-color: black;
  padding: 0.6rem 2.3rem;
  border-radius: 0.5rem;
  width: min-content;
}

.cta a {
  color: white;
}

@media (prefers-color-scheme: dark) {
}
