.peopleImage {
  min-width: 100%;
  background-image: url(/people.webp);
  background-repeat: repeat-x;
  min-height: 30rem;
}

.partnerText {
  text-align: center;
  margin-bottom: 5rem;
}

.partnerText h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}

.partnerText p {
  font-size: 1.3rem;
}

@media screen and (max-width: 950px) {
  .partnerText h1 {
    font-size: 2.2rem;
  }
  .partnerText p {
    font-size: 1rem;
  }
}
